@font-face {
	font-family: 'Sukhumvit','A-OTF Shin Go Pro R';
    /* src: url('./fonts/sukhumvit-set/SukhumvitSet-Thin.ttf') format('truetype'); */
    src: url('./fonts/sukhumvit-set/SukhumvitSet-Bold.ttf') format('truetype'),
         url('./fonts/a-otf-shin-go-pro/AOTFShinGoProRegular.otf') format('truetype');
}

a{
    text-decoration: none;
    color: #222;
    cursor: pointer;
}

body {
    font-family: sans-serif;
}

.ly_header {
    margin-top: 20px;
}

.ly_header_inner {
    max-width: 1830px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.el_lv1Heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.bl_headerList > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bl_headerList > ul li {
    margin-right: 20px;
}

.bl_headerList > ul li:last-child {
    margin-right: 0;
}

.bl_headerList_link {
    font-weight: bold;
    font-size: 1.025rem;
}

.ly_cont_boy {
    height: 100vh;
}
.ly_cont {
    padding-top: 20px;
    padding-bottom: 60px;
}
.ly_cont_inner {
    /* min-width: 800px; */
    max-width: 1830px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.ly_workSpeace {
    margin-bottom: 20px;
}

.bl_input {
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin-right: auto;
    margin-left: auto;
} 

.bl_input_area {
    /* width: 50%; */
    flex: 1;
    margin-right: 20px;
}

.bl_input_area >*:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px ) {
    .bl_input {
        display: block;
    } 

    .bl_input_area {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .sp-hide {
        display: none;
    }
}

.bl_input > *:last-child{
    margin-bottom: 0;
} 

.bl_input_ttl,
.bl_input_subTtl,
.bl_input_color,
.bl_selectOption {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bl_input_ttl > label,
.bl_input_subTtl > label,
.bl_input_color > label,
.bl_selectOption > label {
    width: 15rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.bl_input_bgImage > label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.25rem;
}


.bl_input_wrapper {
    width: 100%;
}

.bl_input_wrapper.bl_input_wrapper__img {
    height: 150px;
    border: 1px solid #cccc;
    position: relative;
}

.bl_input_wrapper.bl_input_wrapper__img > input {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 12%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bl_input_wrapper.bl_input_wrapper__img > img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bl_input_wrapper input,
.bl_input_wrapper select {
    padding: 5px;
    font-size: 1rem;
}

.bl_input_wrapper .f-size {
    width: 3rem;
    margin-left: 10px;
}

.f-size[type=number]::-webkit-inner-spin-button,
.f-size[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.bl_input_color label input {
    width: 30px;
    padding: 0;
    border-radius: 50%;
}

.bl_input_imgWarr {
    width: 310px;
    padding: 5px;
    border: 1px solid #ccc;
}

.bl_input_img {
    width: 300px;
    height: 300px;
    position: relative;
}

.bl_input_img > input {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 45%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bl_input_img > input.d-none {
    display: none;
}

.bl_input_img > img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bl_input_img > input::file-selector-button {
    text-align: center;
}

@media screen and (max-width: 768px ) {
    .bl_input_imgWarr {
        margin-left: unset;
    }
}
/* -------------------------------------------------------------- */

.bl_display {
    width: 100%;
    max-width: 880px;
    padding: 5px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

.bl_boder {
    border: 1px solid #000;
}

.bl_display_body {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bl_display_color {
    /* width: clamp(9.3px, 1.39vw, 18px); */
    width: 2.218%;
}

.bl_display_color > span {
    display: inline-block;
    width: 100%;
    aspect-ratio: 1653/4000;
    background-color: #222;
}

.bl_display_color > span.d-none {
    display: none;
}

.bl_display_ttlWrapper {
    flex: 1;
    /* padding-left: 20px; */
    padding-left: clamp(10px, 1vw, 20px);
}

.bl_display_ttl {
    font-weight: bold;
    font-size: clamp(24px, 2.5vw, 42px);
}

.bl_display_subTtl {
    font-weight: bold;
    font-size: clamp(21px, 2vw, 36px);
    /* margin-top: max(2.954%, 5px); */
}

.bl_display_img {
    width: 30%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.bl_display_img > img {
    max-width: 100%;
    /* aspect-ratio: 82/55; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bl_btnWrapper {
    margin-top: 10px;
}

.el_btn {
    display: inline-block;
    width: 100px;
    max-width: 100%;
    padding: 10px 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #130fc9;
    box-shadow: 0 3px 6px rgba(0,0,0, .16);
    color: #fff;
    font-size: 0.8125rem;
    text-align: center;
    text-decoration: none;
    transition: .25s;
}

.el_btn:focus,
.el_btn:hover {
    background-color: #fff;
    border-color: currentColor;
    color: #130fc9;
}

/* -------------------------------------------------------------- */
/* 
 * オプションの背景設定
 *
 */

.bl_display_body.mitsu {
    background-image: url(./image/key_.png);
    background-position: 99% center;
}
